@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap,Abril+Fatface&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);

}

.container {
    margin-top: 85px;
    height: 450px;
}

h1 {
    text-align: center;
    margin-top: 25px;
    color: rgb(23, 23, 82);
    font-family: "Yeseva One", serif;
    font-weight: 1500;
}

form {
    justify-content: center;
    font-family: "Yeseva One", serif;
    font-weight: 90px;
    color: rgb(23, 23, 82);
    display: flex;
    margin-left: 360px;
    margin-top: 55px;
    flex-wrap: wrap;
    width: 570px;
    height: 150px;
}

#sub {
    display: block;
    width: 130px;
    background-color: rgb(23, 23, 82);
    color: aliceblue;
}

#phn,
#eml,
#qlf,
#nm {
    height: 25px;
    margin-right: 5px;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid rgb(23, 23, 82);
}

#sub {
    border: 2px solid rgb(23, 23, 82);
    height: 30px;
    border-radius: 15px;
    text-decoration: none;
    width: 450px;
}

::placeholder {
    padding: 10px;
}

.find,
.hours,
.call {
    text-align: center;
    justify-content: center;
    height: 150px;
    width: 188.4px;
}

.information {
    font-weight: 1000;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 570px;
    display: flex;
    margin-left: 360px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.find h2,
.hours h2,
.call h2 {
    font-family: "Yeseva One", serif;
    color: rgb(23, 23, 82);
    margin-bottom: 10px;
}

.find p,
.hours p,
.call p {
    font-weight: 900;
    font-family: "Yeseva One", serif;
}
@media screen and (max-width:500px) {
    h1{margin-top: 0px;
    font-weight: 700;
text-align: center;}
form{
    /* justify-content: center; */
/* text-align: center; */
/* justify-items: center; */
margin-left: 0px;
width: 450px;
height: 550px;
margin-top: 30px;
}
#nm{display: block;
;}

#phn,
#eml,
#qlf,
#nm{height: 25px;
width: 130px;}
}